body {
  margin: 2;
  background-color: #1a1a1a;
  background-image:
    repeating-linear-gradient(
      45deg,
      rgba(10, 10, 10, 0) 0px,
      rgba(212, 97, 26, 0) 1px,
      transparent 1px,
      transparent 50%
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(212, 97, 26, 0.04) 0px,
      rgba(212, 97, 26, 0.04) 1px,
      transparent 1px,
      transparent 50%
    );
  background-size: 20px 20px;
  min-height: 100vh;
}

